{% set _b = app.request.attributes.get('_boutique') %}
{% if _b %}
    {% set _mid = _b.metaPixelId %}
    {% set _gaId = _b.googleAnalyticsId %}
    {% set _gtmId = _b.googleTagManagerId %}
    {% set _tkId = _b.tiktokPixelId %}
{% endif %}
<!doctype html>
<html lang="{{ app.request.locale|default('fr') }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/img/hanooti-mark.svg" type="image/svg+xml">
        <title>{% block title %}Hanooti{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        {% if _mid is defined and _mid %}
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{ _mid }}');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{ _mid }}&ev=PageView&noscript=1"/></noscript>
        {% endif %}
        {% if _gaId is defined and _gaId %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ _gaId }}"></script>
        <script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','{{ _gaId }}');</script>
        {% endif %}
        {% if _gtmId is defined and _gtmId %}
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ _gtmId }}');</script>
        {% endif %}
        {% if _tkId is defined and _tkId %}
        <script>
        !function(w,d,t){w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie","holdConsent","revokeConsent","grantConsent"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.load=function(t,e){var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://analytics.tiktok.com/i18n/pixel/events.js?sdkid="+t+"&lib="+t;var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(n,o)};ttq.load('{{ _tkId }}');ttq.page();
        }(window,document,'ttq');
        </script>
        {% endif %}
        {% block head_extra %}{% endblock %}
    </head>
    <body>
        {% if _gtmId is defined and _gtmId %}
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ _gtmId }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
